<div class="container-2">
    <div class="row">
        <h2 class="page-subtitle">At Dogs Canberra, we...</h2>
    </div>
    <div class="row pt20">
        <div class="col-12 col-sm-6">
            <div class="text-center">
                <div class="pb10">
                    <img src="assets\icons\Improve kennel life paw yellow circle.png" height="100px">
                </div>
                <h3 class="sub-heading">Improve the lives of kennel dogs</h3>    
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="text-center">
                <div class="pb10">
                <img src="assets\icons\brain heart yellow circle.png" height="100px">
                </div>
                <h3 class="sub-heading">Enrich public mental health</h3>    
            </div>
        </div>    
    </div>
    <div class="row pt20">
        <div class="col-12 col-sm-6">
            <div class="row w-100">
                <h2 class="page-subtitle">Who Are We?</h2>
                <p>
                Dogs Canberra (DogsCBR) is a registered charity dedicated to improving the quality of life for kennel dogs while enriching public mental health and community well-being. 
                <br><br>
                Our kennel-free model offers a safe and nurturing environment where dogs can recover from the stress and trauma of traditional dog shelters.
                </p>
            </div>
            <div class="row w-100 mb20">
                <a href='{{ site.baseurl }}/team.html' data-id="team" class="home-btn btn btn-primary">Meet the Team</a>            
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20">
                <img src="assets\photo_gallery\Group Photo at ANU Event 2023 - cropped.jpg" class="img-fluid-half-page">
            </div>
        </div>
    </div>
    <div class="row pt20">
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20">
                <img src="assets\photo_gallery\Tofu at ANU Event - cropped.jpg" class="img-fluid-half-page">
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20">
                <h2 class="page-subtitle">What Do We Do?</h2>
                <p>
                In a perfect world, no dog would ever know the confines of a kennel. While this dream may be beyond reach, our mission is clear: to minimise every dog's time behind bars.
                <br><br>
                We take a small number of dogs from shelters and pounds in the ACT and NSW, focusing on building their resilience and temperament through professional assessment and training. 
                <br><br>
                Here, they find more than shelter—they find healing in a nurturing environment where they can recover from the trauma of traditional kennels.
                <br><br>
                Once ready, our dogs join our community network, where volunteers walk, play, and bond with them. 
                </p>
            </div>
        </div>
    </div>
    <div class="row pt20">
        <div class="col-12 col-sm-6">
            <div class="row w-100">
                <p>
                Dogs receive the love they deserve, while community members who cannot have pets of their own experience the joy and therapeutic benefits of animal companionship.
                <br><br>
                These meaningful connections create a ripple effect of healing. Our approach aims to significantly reduce return rates and helps ease the burden on overcrowded shelters. 
                <br><br>
                Every dog deserves a second chance to thrive. With your support, we can continue to transform lives, one paw at a time.    
                </p>
            </div>
            <div class="row w-100 mb20">
                <a href='{{ site.baseurl }}/services.html' data-id="services" class="home-btn btn btn-primary">Our Services</a>            
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20">
                <img src="assets\photo_gallery\Tofu and Mik - cropped.jpg" class="img-fluid-half-page">
            </div>
        </div>
    </div>
    <!--div class="row pt20">
        <div class="col-12 col-sm-4">
            <div class="row w-100 mb20">
                <h2 class="page-subtitle">What do we offer?</h2>
                
            </div>
            <div class="row w-100 mb20">
                <a href='{{ site.baseurl }}/dogs.html#walk-a-dog' data-id="dogs" class="btn btn-primary">Walk a Dog</a>            
            </div>

        </div>
        <div class="col-12 col-sm-4">
            <div class="row w-100 mb20">
                <a href='{{ site.baseurl }}/dogs.html#foster-a-dog' data-id="dogs" class="btn btn-primary">Foster a Dog</a>            
            </div>

        </div>
        <div class="col-12 col-sm-4">
            <div class="row w-100 mb20">
                <a href='{{ site.baseurl }}/dogs.html#adopt-a-dog' data-id="dogs" class="btn btn-primary">Adopt a Dog</a>            
            </div>

        </div>
    </div-->
    <div class="row pt20">
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20">
                <img src="assets\photo_gallery\Nymeria_01 - cropped.jpg" class="img-fluid-half-page">
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20">
                {% include_relative src/pages/about/ambassador.html %}
            </div>
        </div>
    </div>
    <div class="row pt20">
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20">
                {% include_relative src/pages/about/governance.html %}
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20">
                <img src="assets\photo_gallery\Nymeria with ducks - cropped.jpg" class="img-fluid-half-page">
            </div>

        </div>
    </div>
    <div class="text-center">
        <h4 class="tagline">We’re making a difference, one paw at a time.</4>
    </div>
</div>