<div class="container">
    <div class="row pt20">
        <div class="col-12 col-sm-6"><!--Left: Ambassador-->
            <div class="row w-100 mb20">
                {% include_relative src/pages/about/ambassador.html %}
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20">
                {% include_relative src/pages/about/services.html %}
            </div>
            <div class="row w-100 mb20">
                {% include_relative src/pages/about/purpose.html %}
            </div>
            <div class="row w-100 mb20">
                {% include_relative src/pages/about/governance.html %}
            </div>
        </div>
    </div>
</div>