.container-2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.img-fluid-half-page {
    max-width: 100%;
    border-radius: 20px;

}

@media (min-width: 576px) {
  .container-2 {
    max-width:576px;
    padding-left: 30px;
    padding-right: 30px;
  }
  body {
    font-size: 10px;
  }
  .img-fluid-half-page {
    height:270px;
    width:240px;
    object-fit: cover; 
  }
  .home-panel-img {
    height:580px;
  }
  .hpi-1 {
    top: -100px;
  }
  .hpi-2 {
    top: -100px;
  }

  }

@media (min-width: 670px) { 
  .container-2 {
    max-width: 640px;
  }
  body {
    font-size: 11px;
  }
  .img-fluid-half-page {
    height:310px;
    width:300px;
    object-fit: cover;
}
.home-panel-img {
  height:570px;
}


}

@media (min-width: 760px) {
  .container-2 {
    max-width: 720px;
  }
  body {
    font-size: 12px;
  }

  .img-fluid-half-page {
    height:350px;
    width:400px;
    object-fit: cover;
}
.home-panel-img {
  height:570px;
}


}

@media (min-width: 870px) {
  .container-2 {
    max-width: 840px;
  }
  body {
    font-size: 14px;
  }

  .img-fluid-half-page {
    height:400px;
    width:420px;
    object-fit: cover;
}
.home-panel-img {
  height:610px;
}

}

@media (min-width: 990px) {
  .container-2 {
    max-width: 960px;
  }
  body {
    font-size: 16px;
  }

  .img-fluid-half-page {
    height:430px;
    width:500px;
    object-fit: cover;
}
.home-panel-img {
  height:640px;
}


}

@media (min-width: 1200px) {
  .container-2 {
    max-width: 1170px;
  }
  .img-fluid-half-page {
    height:400px;
    width:600px;
    object-fit: cover;
}
.home-panel-img {
  height:620px;
}

}

/* Actual max container size: */

@media (min-width: 1500px) {
  .container-2 {
    max-width: 1400px;
  }
  body {
    font-size: 20px;
  }

  .img-fluid-half-page {
    height:500px;
    width:900px;
    object-fit: cover;
}
  .home-panel-img {
    height:720px;
  }
}
