.staff-container {
    display: flex;
    padding: 2% 2%;
}

.staff-tile {
    display: flex;
    padding: 1% 1%;
    border: 2px solid var(--primary);
    border-radius: 15px;
}

.team-name {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 30px;
}
.team-role {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 18px;
}

.team-detail:nth-child(odd){
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.team-detail:nth-child(even){
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.team-image:nth-child(odd){
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.team-image:nth-child(even){
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}