.social-media {
    font-family: "Playwrite AU VIC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 2%;
}

.social-media > a {
    color: #000;
}
.social-media > a:hover {
    color: auto;
    text-decoration: none;
}
.fab.fa-instagram {
    color: #E4405F;
    /* background-color: #fff; */
    transition: color 0.2s ease;
}
.fab.fa-instagram:hover {
    color: #C13584; 
    /* background-color: #fff; */
}

.fab.fa-google-drive {
    color: #0F9D58; /* Google Drive Green */
    transition: color 0.3s ease-in-out;
}
  
.fab.fa-google-drive:hover {
    color: #4285F4; /* Google Drive Blue on hover */
}

.fab.fa-facebook {
    /* font-size: 2rem;  */
    color: #1877f2; 
    transition: color 0.2s ease;
}
  
.fab.fa-facebook:hover {
    color: #3b5998; 
}