.staff-container {
    display: flex;
    padding: 2% 2%;
}

.staff-tile {
    display: flex;
    padding: 1% 1%;
    border: 2px solid var(--primary);
    border-radius: 15px;
}

.team-name {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 26px;
}
.team-role {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 18px;
}
.team-email {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* or whatever fits your layout */
    display: inline-block;
  
}

.team-photo {
    -webkit-box-ordinal-group: inherit;
    -ms-flex-order: inherit;
    order: inherit;
    padding-left:0;
    padding-right: 0;
}

.team-photo img {
    height: 100%;
    aspect-ratio: 1/1;
    max-width: 100%;
    object-fit: cover;
    border: 0px solid var(--primary);
    border-radius: 10%;
}

.staff-tile {
    -webkit-box-ordinal-group: inherit;
    -ms-flex-order: inherit;
    order: inherit;
}

.team-detail {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

@media (min-width: 768px) {
    .team-name {
        font-size: 18px;
    }
    .team-role {
        font-size: 15px;
    }
    .team-email {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .team-name {
        font-size: 26px;
    }
    .team-role {
        font-size: 18px;
    }
    .team-email {
        font-size: 16px;
    }

}
/* 
.team-detail:nth-child(4n){
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.team-detail:nth-child(4n+1){
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.team-image:nth-child(4n+2){
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.team-image:nth-child(4n+3){
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
} */