<div class="footer">
    <div>
        <a href="https://www.instagram.com/dogscanberra/" target="_blank" style="margin: 0 10px;">
            <img src="assets\logos\instagram blue logo transparent.png" alt="Instagram" style="width: 24px; height: 24px;">
        </a>
        <a href="https://www.facebook.com/mmddogs/" target="_blank" style="margin: 0 10px;">
            <img src="assets\logos\facebook blue logo transparent.png" alt="Facebook" style="width: 24px; height: 24px;">
        </a>    
    </div>
    <div>
        Dogs Canberra Ltd | ABN: 26670743969
    </div>
</div>