<div class="footer">
    <div>
        <a href="https://www.instagram.com/dogscanberra/" target="_blank">
            <img src="assets\logos\instagram blue logo transparent.png" alt="Instagram" style="width: 42px; height: 42px;">
        </a>
        <a href="https://www.facebook.com/mmddogs/" target="_blank">
            <img src="assets\logos\facebook blue logo transparent.png" alt="Facebook" style="width: 35px; height: 35px;">
        </a>    
        <a href="https://www.linkedin.com/company/dogs-canberra-limited/" target="_blank">
            <img src="assets\logos\linkedin blue logo transparent.png" alt="LinkedIn" style="width: 42px; height: 42px;">
        </a>
    </div>
    <div>
        Dogs Canberra Ltd | ABN: 26670743969
    </div>
</div>