<head>
    <meta charset="utf-8"/>
    <meta name="author" content="dogs-canberra" />
    <meta name="description" content="Canberra-based Community Dog Shelter">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Stylesheets -->
    <link href="{{ site.url }}{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}{{ site.baseurl }}/css/root/style.css" rel="stylesheet" title="root-css">
</head>