<!-- <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/src/pages/home/home.js"></script> -->
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/src/pages/getinvolved/membership.js"></script>
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/src/pages/gallery/gallery.js"></script>
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/src/pages/team/team.js"></script>
<!-- <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/src/global/js/bootstrap.js"></script> -->
