<header>
    <!-- Navigation -->
     <nav class="navbar navbar-light navbar-default fixed-top navbar-expand-lg">
         <a class="navbar-brand {% if page.url == '/' %} scroll-link{% endif %}"
             href="{{ site.baseurl }}/#home" data-id="home">
             <img src="{{ site.url }}{{ site.baseurl }}/assets/branding/dogs-canberra-logo.jpg" height="39px"
                 class="logo"> </img>
         </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-dcbr" aria-controls="navbar-dcbr" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar-dcbr">
            <ul class="navbar-nav ml-auto mt-0 mr-0">
                <li class="nav-item"><a href="{{ site.baseurl }}/#home" data-id="home" {% if page.url=="/" %} class="scroll-link" {% endif %}>Home</a> </li>
                <li class="nav-item"><a href='{{ site.baseurl }}/dogs.html' data-id="dogs">Dogs</a> </li>
                <li class="nav-item"><a href='{{ site.baseurl }}/team.html' data-id="team">Team</a> </li>
                <li class="nav-item"><a href='{{ site.baseurl }}/social.html' data-id="social">Media</a> </li>
                <li class="nav-item"><a href='{{ site.baseurl }}/gallery.html' data-id="gallery">Gallery</a> </li>
                <li class="nav-item"><a href='{{ site.baseurl }}/support.html' data-id="getinvolved">Support</a> </li>
                <li class="nav-item"><a href="{{ site.baseurl }}/contact.html" data-id="contact">Contact</a> </li>
                <li class="nav-item"><a href='{{ site.baseurl }}/about.html' data-id="about">About</a> </li>
            </ul>
        </div>
     </nav>
</header>