<header>
    <!-- Navigation -->
     <nav class="navbar navbar-light navbar-default fixed-top">
         <a class="navbar-brand {% if page.url == '/' %} scroll-link{% endif %}"
             href="{{ site.baseurl }}/#home" data-id="home">
             <img src="{{ site.url }}{{ site.baseurl }}/assets/branding/dogs-canberra-logo2.jpg"
                 class="logo"> </img>
         </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-dcbr" aria-controls="navbar-dcbr" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar-dcbr">
            <ul class="navbar-nav mt-0">
                <li class="nav-item"><a href="{{ site.baseurl }}/#home" data-id="home" class="{% if page.url=='/' %} font-weight-bold {% endif %}">Home</a> </li>
                <li class="nav-item"><a href='{{ site.baseurl }}/about.html' data-id="about" class="{% if page.url=='/about.html' %} font-weight-bold {% endif %}">About</a> </li>
                <!-- <li class="nav-item"><a href='{{ site.baseurl }}/services.html' data-id="services" class="{% if page.url=='/about.html' %} font-weight-bold {% endif %}">Services</a> </li>                 -->
                <li class="nav-item dropdown" style="justify-content: center;">
                    <a href='{{ site.baseurl }}/services.html' data-id="services" class="dropbtn {% if page.url=='/services.html' %} font-weight-bold {% endif %}">Services
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ site.baseurl }}/walk.html">Walk</a>
                        <a href="{{ site.baseurl }}/foster.html">Foster</a>
                        <a href="{{ site.baseurl }}/adopt.html">Adopt</a>
                        <a href="{{ site.baseurl }}/veterans.html">Veterans</a>
                    </div>
                </li>
                <li class="nav-item"><a href='{{ site.baseurl }}/dogs.html' data-id="dogs" class="{% if page.url=='/dogs.html' %} font-weight-bold {% endif %}">Dogs</a> </li>
                <li class="nav-item"><a href='{{ site.baseurl }}/team.html' data-id="team" class="{% if page.url=='/team.html' %} font-weight-bold {% endif %}">Team</a> </li>
                <!--li class="nav-item"><a href='{{ site.baseurl }}/social.html' data-id="social">Media</a> </li-->
                <!--li class="nav-item"><a href='{{ site.baseurl }}/gallery.html' data-id="gallery">Gallery</a> </li-->
                <li class="nav-item"><a href="{{ site.baseurl }}/contact.html" data-id="contact" class="{% if page.url=='/contact.html' %} font-weight-bold {% endif %}">Contact</a> </li>
                <li class="nav-item"><a href='{{ site.baseurl }}/support.html' data-id="getinvolved" class="{% if page.url=='/support.html' %} font-weight-bold {% endif %}">Donate</a> </li>
            </ul>
        </div>
     </nav>
</header>