<!--div class="row">
    <div class="text-center w-100 tagline">
        "Improving the lives of shelter dogs, while supporting community mental health!"
    </div>
</div-->

<div class="row" style="margin: -25px 0; align-items: center;">
    {% comment %}
    {% include_relative src/pages/home/paws.html %}
    {% endcomment %}
    <div id="photobooth" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="8000">
        <div class="row mb20 mx-0">
            <div id="mini-gallery" class="carousel-inner">
                {% assign image_counter = 0 %}
                {% for dog in site.static_files %}
                {% if dog.path contains 'assets/photo_gallery/home_photos' %}
                <div class="dog-photo carousel-item {% if image_counter==0 %} active {% endif %}" data-slide-to>
                    <img src="{{ site.baseurl }}{{ dog.path }}" class="home-photo">
                </div>
                {% assign image_counter = image_counter | plus: 1 %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="margin-top: -50px">
            <div class="carousel-indicators mt10 pt10">
                {% assign image_counter = 0 %}
                {% for dog in site.static_files %}
                {% if dog.path contains 'assets/photo_gallery' %}{% if image_counter < 10 %}
                <button type="button" data-bs-target="#photobooth" data-bs-slide-to="{{ image_counter }}" class="{% if image_counter==0 %}active{% endif %} paw-button d-flex align-items-center" aria-current="true" aria-label="Slide {{ image_counter +1}}">
                    <img src="{{ site.baseurl }}/assets/branding/WhitePaw2.png" class="paw-button"
                    data-active-src="{{ site.baseurl }}/assets/branding/ColourPaw.png">
                </button>
                &nbsp;
                {% assign image_counter = image_counter | plus: 1 %}
                {% endif %}{% endif %}
                {% endfor %}
            </div>
        </div>
            
    </div>
</div>
<div class="row" style="margin: 0 0;">
    <div class="text-center" style="margin: 100px 15vw">
        <h2 class="tagline">"Improving the lives of shelter dogs, while supporting community mental health!"</h1>
    </div>
    <div style="position: relative; top:0;left:0;width:100%;">
        <img class="home-panel-img" src="assets/styling/home-backdrop.png">
        <img class="home-panel-img hpi-1" src="assets/styling/home-backdrop.png">
        <img class="home-panel-img hpi-2" src="assets/styling/home-backdrop.png">

    </div>
</div>
<div class="container-2" style="padding-bottom: 100px;">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20 mx-0">
                <img src="assets\photo_gallery\Group Photo at ANU Event 2023 - cropped.jpg" class="img-fluid-half-page">
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="row w-100 mb20 mx-0">
                <h2 class="page-subtitle">Welcome to Dogs Canberra!</h2>
                As a registered charity, we focus on rehabilitating dogs from traditional shelters, helping them build resilience through professional training and community interaction. 
                <br><br>
                Our open-shelter model allows people to walk, play, and bond with our dogs—benefiting both pups and humans alike. Through our Pilot Program (2024-2025), we're creating lasting connections while reducing shelter overcrowding. 
                <br><br>
                <i>Join us in making a difference, one wagging tail at a time!</i>          
            </div>
            <div class="row w-100 mb20 mx-0" style="justify-content: flex-end;">
                <a href='{{ site.baseurl }}/about.html' data-id="about" class="btn btn-primary">More About Us</a>            
            </div>
        </div>

    </div>
    <div class="row pt20 mt60 mx-0">
        <h2 class="page-subtitle">We Have Something For Everyone...</h2>
    </div>
    <div class="row pt20">
            <div class="col-12 col-md-4" style="padding-top: 15px;">
                <div class="home-tile">
                    <div class="w-100 home-photo">
                        <img src="assets/dog_photos/Kingsley_03.jpg">
                    </div>
                    <div class="w-100 home-content">
                        <div class="w-100">
                            <h3 class="sub-heading">Walk</h3>
                        </div>
                        <div class="w-100">
                            Spend time with our dogs, giving them love, exercise, and socialisation.
                        </div>
                        <a href='{{ site.baseurl }}/dogs.html#walk-a-dog' data-id="dogs" class="btn btn-primary btn-home">Walk a Dog</a>                
                    </div>    
                </div>
            </div>

            <div class="col-12 col-md-4" style="padding-top: 15px;">
                <div class="home-tile">
                    <div class="w-100 home-photo">
                        <img src="assets/dog_photos/Tofu 2.jpg">
                    </div>
                    <div class="w-100 home-content">
                        <div class="w-100">
                            <h3 class="sub-heading">Foster</h3>
                        </div>
                        <div class="w-100">
                            Provide a temporary home and help a dog on their journey to adoption.
                        </div>
                        <a href='{{ site.baseurl }}/dogs.html#foster-a-dog' data-id="dogs" class="btn btn-primary btn-home">Foster a Dog</a>                
                    </div>    
                </div>
            </div>

            <div class="col-12 col-md-4" style="padding-top: 15px;">
                <div class="home-tile">
                    <div class="w-100 home-photo">
                        <img src="assets/dog_photos/Kingsley_01.jpg">
                    </div>
                    <div class="w-100 home-content">
                        <div class="w-100">
                            <h3 class="sub-heading">Adopt</h3>
                        </div>
                        <div class="w-100">
                            Find your perfect match and give a rescued dog a loving, forever home.
                        </div>
                        <a href='{{ site.baseurl }}/dogs.html#adopt-a-dog' data-id="dogs" class="btn btn-primary btn-home">Adopt a Dog</a>                
                    </div>    
                </div>
            </div>

    </div>

</div>