
/* Home Page */
.paw {
    /* animation: float 20s linear infinite; */
    display: block;
    max-width: 50px;
    -webkit-animation: fadeInFromNone 5s ease-in-out infinite;
    -moz-animation: fadeInFromNone 5s ease-in-out infinite;
    -o-animation: fadeInFromNone 5s ease-in-out infinite;
    animation: fadeInFromNone 5s ease-in-out infinite;
}

.paw:nth-child(odd) {
    margin-left: auto;
    margin-right: 0;
}
.paw:nth-child(even) {
    margin-left: 0;
    margin-right: auto;
}

.paw-button {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

button.paw-button {
  padding: 10px 10px;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

img.paw-button {
  content: url('/assets/TransPaw.png');
}

button.paw-button.active > img.paw-button {
  content: url('/assets/ColourPaw.png')
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: block;
        opacity: 0;
    }
    40% {
        display: block;
        opacity: 0;
    }
    50% {
        display: block;
        opacity: 1;
    }
    60% {
        display: block;
        opacity: 0;
    }
    
    100% {
        display: block;
        opacity: 0;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: block;
        opacity: 0;
    }
    40% {
        display: block;
        opacity: 0;
    }
    50% {
        display: block;
        opacity: 1;
    }
    60% {
        display: block;
        opacity: 0;
    }
    
    100% {
        display: block;
        opacity: 0;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: block;
        opacity: 0;
    }
    40% {
        display: block;
        opacity: 0;
    }
    50% {
        display: block;
        opacity: 1;
    }
    60% {
        display: block;
        opacity: 0;
    }
    
    100% {
        display: block;
        opacity: 0;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: block;
        opacity: 0;
    }
    40% {
        display: block;
        opacity: 0;
    }
    50% {
        display: block;
        opacity: 1;
    }
    60% {
        display: block;
        opacity: 0;
    }
    
    100% {
        display: block;
        opacity: 0;
    }
}

/* photobooth */
.dog-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* carousel */
.carousel {
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
.carousel-inner {
  position: relative;
  /* width: 100%; */
  height: 50vh;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  opacity: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50vh;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: opacity 0.9s ease-in-out;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-item-start {
  visibility: hidden;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
  
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
  
.carousel-item-next,
.active.carousel-item-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
  
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
.carousel-item-next,
.active.carousel-item-right {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
}
  
.carousel-item-prev,
.active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
  
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-prev,
    .active.carousel-item-left {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
}
  
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
  }
  
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
  
.carousel-control-prev {
    left: 0;
}
  
.carousel-control-next {
    right: 0;
}
  
.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
  
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
.carousel-indicators {
    /* position: absolute;
    right: 0;
    bottom: 0px;
    left: 0; */
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
  
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
  }
  
.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
  }
  
.carousel-indicators .active {
    background: transparent;
  }
  
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  
