.photo-disclaimer {
    color:#555;
    font-style: italic;
    font-size: smaller;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 1%;
}
.photo-frame {
    padding: 1% 1%;
    display: block;
}
.gallery-photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 0px solid var(--primary);
    border-radius: 10%;
    transition: all .2s;
}

.gallery-photo:hover {
    transform: scale(1.1);
    border-radius: 0;
}