
.welcome-title, h1 {
  color: var(--primary);
  font-family: "Inria-Serif";
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 72px;
}

.page-subtitle, h2 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 24px;
  margin-top: 1%;
  color: var(--primary);
  padding-bottom: 10px;
}

.sub-heading, h3 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 20px;
  margin-top: 1%;
  color: var(--primary);
  padding-bottom: 20px;
}

.tagline, h4 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  margin-top: 1%;
  color: var(--primary);
  padding-bottom: 40px;
}

body {
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
  /* font-size: 16px; */
  font-weight: 300;
  padding-top: 90px;
  text-align: left;
  color:black;
  height: 100%;
  min-height: 100% !important;
}

hr.dotted {
  border-top: 3px dotted var(--primary)
}


/* Headings based on window size */


@media (max-width: 870px) {
  .welcome-title, h1 {
    font-size: 4rem;
  }
  
  .page-subtitle, h2 {
    font-size: 1.3rem;
  }

  .sub-heading, h3 {
    font-size: 1.1rem;
  }
} 


/* For screens smaller than 480px (e.g., small mobile screens) */
@media (max-width: 580px) {
  .welcome-title, h1 {
    font-size: 3rem;
  }
  .page-subtitle, h2 {
    font-size: 1.2rem;
  }
  
  .sub-heading, h3 {
    font-size: 1rem;
  }
}
