.welcome,
h1 {
  color: var(--lighter);
  font-family: "Inria-Serif";
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 80px;
}

h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin-top: 1%;
  color: var(--primary);
}

h2 {
  font-weight: bold;
  padding-top: 10px;
}
/* h2 styles */
.page-subtitle {
  font-size: 24px;
  padding-bottom: 10px;
}

.box-heading {
  font-size: 16px;
}

.sub-heading,
h3 {
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 20px;
}

h4 {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}

.tagline {
  text-align: center;
  padding-bottom: 40px;
}

.caption,
h5 {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: 10px;
}

body {
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 65px;
  text-align: left;
  color: black;
  height: 100%;
  min-height: 100% !important;
}

hr.dotted {
  border-top: 3px dotted var(--primary);
}

/* Headings based on window size */

@media (max-width: 1199.98px) {
  .welcome-title,
  h1 {
    font-size: 3rem;
  }

  .page-subtitle,
  h2 {
    font-size: 1.3rem;
  }

  .sub-heading,
  h3 {
    font-size: 1.1rem;
  }
  body {
    font-size: 14px;
  }
}

/* For screens smaller than 480px (e.g., small mobile screens) */
@media (max-width: 767.98px) {
  .welcome-title,
  h1 {
    font-size: 2.5rem;
  }
  .page-subtitle,
  h2 {
    font-size: 1.2rem;
  }

  .sub-heading,
  h3 {
    font-size: 1rem;
  }
  body {
    font-size: 16px;
  }
}
