
.welcome-title, h1 {
  color: var(--primary);
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 60px;
}

.page-subtitle, h2 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 24px;
  margin-top: 1%;
  color: var(--primary);
  padding-bottom: 20px;
}

.sub-heading, h3 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 20px;
  margin-top: 1%;
  color: var(--primary);
  padding-bottom: 20px;
}

.tagline, h4 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  margin-top: 1%;
  color: var(--primary);
  padding-bottom: 40px;
}

body {
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-top: 120px;
  text-align: justify;
  color:black;
  height: 100%;
  min-height: 100% !important;
}

hr.dotted {
  border-top: 3px dotted var(--primary)
}



@media (min-width: 576px) {
  .container {
    max-width:576px;
    padding-left: 30px;
    padding-right: 30px;
  }
  body {
    font-size: 10px;
  }
  .img-fluid {
    height:270px;
    width:240px;
    object-fit: cover;
}

}
@media (min-width: 670px) { 
  .container {
    max-width: 640px;
  }
  body {
    font-size: 11px;
  }
  .img-fluid {
    height:310px;
    width:300px;
    object-fit: cover;
}
}

@media (min-width: 760px) {
  .container {
    max-width: 720px;
  }
  body {
    font-size: 12px;
  }

  .img-fluid {
    height:350px;
    width:400px;
    object-fit: cover;
}
}

@media (min-width: 870px) {
  .container {
    max-width: 840px;
  }
  body {
    font-size: 14px;
  }

  .img-fluid {
    height:400px;
    width:420px;
    object-fit: cover;
}

}

@media (min-width: 990px) {
  .container {
    max-width: 960px;
  }
  body {
    font-size: 16px;
  }

  .img-fluid {
    height:430px;
    width:500px;
    object-fit: cover;
}
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .img-fluid {
    height:400px;
    width:600px;
    object-fit: cover;
}
}

/* Actual max container size: */

@media (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
  body {
    font-size: 20px;
  }

  .img-fluid {
    height:500px;
    width:900px;
    object-fit: cover;
}
}

/* Headings based on window size */

@media (max-width: 870px) {
  .welcome-title, h1 {
    font-size: 3.4rem;
  }
  
  .page-subtitle, h2 {
    font-size: 1.3rem; /* Smaller font size for smaller screens */
  }

  .sub-heading, h3 {
    font-size: 1.1rem;
  }
}

/* For screens smaller than 480px (e.g., small mobile screens) */
@media (max-width: 580px) {
  .welcome-title, h1 {
    font-size: 3rem;
  }
  .page-subtitle, h2 {
    font-size: 1.2rem; /* Even smaller font size for very small screens */
  }
  
  .sub-heading, h3 {
    font-size: 1rem;
  }
}
