<div class="row my-2">
    <div class="text-center w-100">
        <a class="btn-paw align-items-center" style="text-decoration: none" data-bs-toggle="collapse" data-bs-target="#walk-a-dog" role="button" aria-expanded="false" aria-controls="walk-a-dog">
            <span class="page-subtitle mb-0">Walk a Dog</span>
            <!-- <img src="assets\branding\ColourPaw.png" class="ml-2"> -->
            <div class="arrow"></div>

        </a>        
    </div>
</div>
<div class="collapse" id="walk-a-dog">
  <div>
    To walk our dogs, you will first need to become a Dogs Canberra Community Member. 
    
    To do so, please fill out our <a style="font-weight:bold" href="https://forms.gle/5jmFesADABSEAyBF7" target="_blank">Community Member Expression of Interest Form</a> and we will email you our Dogs Canberra OHS Guidelines, Dog Walking Manual and Community Members Induction. 
    <br><br>
    Once signed and returned to us, we will approve you as a Community Member and give you a member ID which you can use to access our dog walking service!
  </div>
</div>
<div class="divider my-3"></div>
<div class="row my-2">
    <div class="text-center w-100">
        <a class="btn-paw align-items-center" style="text-decoration: none" data-bs-toggle="collapse" data-bs-target="#foster-a-dog" role="button" aria-expanded="false" aria-controls="foster-a-dog">
            <span class="page-subtitle mb-0">Foster or Adopt</span>
            <!-- <img src="assets\branding\ColourPaw.png" class="ml-2"> -->
            <div class="arrow"></div>
        </a>        
    </div>
</div>
<div class="collapse" id="foster-a-dog">
  <div>
    We are strong believers in community and support our foster carers by assisting with set up and providing ongoing training and support. 
    <br><br>
    We take time and care with our adoption process to ensure our pups find the best possible homes.
    <br><br>
    If you are interested in joining our network of foster carers or would like to adopt one of our dogs, please fill out our <a style="font-weight:bold" href="https://forms.gle/8Wgqcwv9EFuUzkQm6" target="_blank">Foster and Adoption Expression of Interest Form</a>.
  </div>
</div>
<!-- <div class="divider my-3"></div>
<div class="row my-2">
    <div class="text-center w-100">
        <a class="btn-paw align-items-center" style="text-decoration: none" data-bs-toggle="collapse" data-bs-target="#adopt-a-dog" role="button" aria-expanded="false" aria-controls="adopt-a-dog">
            <span class="page-subtitle mb-0">Adopt a Dog</span>
            <div class="arrow"></div>
        </a>        
    </div>
</div>
<div class="collapse" id="adopt-a-dog">
  <div>
    If you are interested in adopting any of our dogs, please fill out our <a style="font-weight:bold" href="https://forms.gle/TGDSu5B89GjYMi98A" target="_blank">Adoption Expression of Interest Form</a>.
  </div>
</div> -->

<script>
    window.addEventListener('DOMContentLoaded', () => {
      const hash = window.location.hash;
  
      if (hash) {
        const collapseElement = document.querySelector(hash);
        const toggleButton = document.querySelector(`[data-bs-toggle="collapse"][data-bs-target="${hash}"]`);
  
        if (collapseElement) {
          const bsCollapse = bootstrap.Collapse.getOrCreateInstance(collapseElement);
          bsCollapse.show();
  
          // ✅ Update the aria-expanded attribute manually
          if (toggleButton) {
            toggleButton.setAttribute("aria-expanded", "true");
          }
          history.replaceState(null, null, ' ');
        }
      }
    });
</script>
  
<div class="divider my-3"></div>



<!-- <div class="row d-flex">
    <h2 class="page-subtitle text-center">Availability and Services</h2>
    <div>
        See all the ways you can help—see which dogs are currently available for walking, fostering, adoption, community outreach, and other volunteer opportunities.
        <br><br>
        Not sure what something means? View our glossary
        <br><br>
    </div>
</div> -->

<div class="row text-center d-flex">
    <div class="col glossary-box">
        <div class="text-center mb-3">
            Available Services
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-4 icon">
                <img src="assets\icons\walk.png">
                <div>
                    Walk Me
                </div>
            </div>
            <div class="col-4 icon">
                <img src="assets\icons\foster.png">
                <div>
                    Foster Me
                </div>
            </div>
            <div class="col-4 icon">
                <img src="assets\icons\adopt.png">
                <div>
                    Adopt Me
                </div>
            </div>
        </div>
    </div>
    <div class="col glossary-box">
        <div class="text-center mb-3">
            Other Roles
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-4 icon">
                <img src="assets\icons\outreach.png">
                <div>
                    Outreach Dog
                </div>
            </div>
            <div class="col-4 icon">
                <img src="assets\icons\therapy.png">
                <div>
                    Therapy Dog
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dogscbr-team" class="col mt20">
    {% for dog in site.dogs %}
    <div class="col mb10 pb10 pt10">
        <div class="row dog-tile">
            <div class="col-4" style="padding-left:0">
                <div class="dog-photo-wrapper">
                    <img src="{{ dog.img }}" class="dog-photo hover-expand-dog-photo">
                </div>
            </div>
            <div class="col-8">
                <div class="ml-2">
                    <div class="row mt10">
                        <div class="col-6 dog-name">
                        {{ dog.name }}
                        </div>
                        <div class="col-6 d-flex align-items-center justify-content-end">
                            <div class="row">
                                <div class="col icon-small ">
                                    <div class="logo-wrapper">
                                    <img src="assets\icons\walk.png" class="{% if dog.walk != true %} faded {% endif %}">
                                        <div class="tooltip-text">Walk</div>
                                    </div>
                                </div>
                                <div class="col icon-small">
                                    <div class="logo-wrapper">
                                    <img src="assets\icons\foster.png" class="{% if dog.foster != true %} faded {% endif %}">
                                        <div class="tooltip-text">Foster</div>
                                    </div>
                                </div>
                                <div class="col icon-small">
                                    <div class="logo-wrapper">
                                    <img src="assets\icons\adopt.png" class="{% if dog.adopt != true %} faded {% endif %}">
                                        <div class="tooltip-text">Adopt</div>
                                    </div>
                                </div>
                                <div class="col icon-small">
                                    <div class="logo-wrapper">
                                    <img src="assets\icons\outreach.png" class="{% if dog.outreach != true %} faded {% endif %}">
                                        <div class="tooltip-text">Outreach</div>
                                    </div>
                                </div>
                                <div class="col icon-small me-4">
                                    <div class="logo-wrapper">
                                    <img src="assets\icons\therapy.png" class="{% if dog.therapy != true %} faded {% endif %}">
                                        <div class="tooltip-text">Therapy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row d-flex">
                        <div class="col info-box text-center">
                            <div>Sex</div>
                            <div>{{dog.sex}}</div>
                        </div>
                        <div class="col info-box text-center">
                            <div>Age</div>
                            <div>{{dog.age}}</div>
                        </div>
                        <div class="col info-box text-center">
                            <div>Breed</div>
                            <div>{{dog.breed}}</div>
                        </div>
                    </div>
                    <div class="mt20">
                        {{ dog.content | markdownify }}
                    </div>
                    <div class="mt10 row">
                        {% if dog.walk %}
                        <a href='{{ dog.walk-url }}' target="_blank" class="dog-btn btn btn-primary">Walk Me!</a>  
                        {% endif %}
                        {% if dog.foster or dog.adopt %}
                        <a href='https://forms.gle/8Wgqcwv9EFuUzkQm6' target="_blank" class="dog-btn btn btn-secondary">Foster or Adopt</a>  
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>