/* Navigation */
.logo {
    font-size: 39px;
    color: #fff;
    transition: 0.8s;
    -webkit-user-select: none;
    user-select: none;
}

.logo:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.navbar-brand {
    height: auto;
    padding: 15px 15px 0 15px;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default {
    font-family: "Montserrat",sans-serif;
    font-size:  12px;
    background: #fee09a none repeat scroll 0% 0%;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    line-height:    3.3;
    font-weight:    400;
}

.navbar-default .navbar-nav >li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff80;
    background-color: transparent;
    -webkit-transition: color 0.5s ease 0s;
    -moz-transition: color 0.5s ease 0s;
    -o-transition: color 0.5s ease 0s;
    transition: color 0.5s ease 0s;
}
