<!DOCTYPE html>
<html lang="en">
    {% include root/head.html %}
    <body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
        <div id="royal_preloader"></div>
        {% include root/navbar.html %}
        <div class="row w-100">
            <div class="text-center pb20 w-100" style="padding-left:0;padding-right:0">
                <h1 class="welcome-title">
                    {{ page.heading }}
                </h1>
            </div>
        </div>
        <nav class="navbar navbar-nav-2 navbar-light navbar-default">
            <ul class="navbar-nav  mt-0">
                <li class="nav-item {% if page.url=='/services.html' %}active{% endif %}"><a href="{{ site.baseurl }}/services.html" data-id="services">Services</a></li>
                <li class="nav-item {% if page.url=='/walk.html' %}active{% endif %}"><a href="{{ site.baseurl }}/walk.html" data-id="walk">Walk</a></li>
                <li class="nav-item {% if page.url=='/foster.html' %}active{% endif %}"><a href="{{ site.baseurl }}/foster.html" data-id="foster">Foster</a></li>
                <li class="nav-item {% if page.url=='/adopt.html' %}active{% endif %}"><a href="{{ site.baseurl }}/adopt.html" data-id="adopt">Adopt</a></li>
                <li class="nav-item {% if page.url=='/veterans.html' %}active{% endif %}"><a href="{{ site.baseurl }}/veterans.html" data-id="veterans">Veterans</a></li>
            </ul>
        </nav>
        <div class="container">
            {{ content }}
        </div>
        <div style="padding-top: 70px;">
        </div>
        {% include root/javascript.html %}
        {% include root/footer.html %}
    </body>
</html>